.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: antiquewhite;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: blueviolet;
}

.container .central{
    flex-grow: 5;
}

.container .l-e{
    flex-grow: 1;
    background-color: rgb(29, 138, 75);
}

.container .l-d{
    flex-grow: 1;
    background-color: rgb(17, 64, 134);
}